.header{
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:1em;
    background-color: var(--clr-gray-dark);
    box-shadow: 0px 2px 30px rgb(252,29,3,0.1);
    animation: 1s slideFromTop ease-out;
}

.menu{
    display:flex;
    flex-wrap: wrap;
    align-content: center; 
}

.menu-item{
    margin-left: 1em;
    margin-right: 1em;
}

@keyframes slideFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }