<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * START OF DOCUMENT * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * TESTING AREA * * * * * * * * * * * * -->
<h1>{{title | uppercase}}</h1>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * HEADER* * * * * * * * * * * * * * * -->
<div class = header>
    <button>Account</button>
    <button>Cart</button>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * BODY * * * * * * * * * * * * * *  * -->
<div class = body>
    <div class = sidebar>

    </div>
    <div class = section>
    <app-login></app-login>
    </div>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * *  * * * * * * * * FOOTER * * * * * * * * * * * * * * -->
<div class = footer>
    <div class = footer_area_1></div>
    <div class = footer_area_2></div>
    <div class = footer_area_3></div>
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * DO NOT DELETE * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * DO NOT DELETE * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->