
body{
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#main-holder{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: var(--clr-red);
    border-radius: 2px;
    padding:3%;
    min-width: 50%;
    min-height:30vh;
}

.column{
    display:flex;
    flex-direction: column;
    width:50%;
}

h1#login-header{
    font-size: 3em;
    text-transform: uppercase;
    margin:0;
    letter-spacing: .25em;
}

#login-form{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#login-form-registration-link{
    margin-top: 1em;
}
#login-error-msg{
    max-width: 80%;
}
.login-form-field{
    width: 100%;
    padding-top: 15px;
    padding-bottom:15px;
    padding-left: 15px;
    margin-top: 10px;
    align-self: center;
    background-color: transparent;
    border: 1px #f8f9fa solid;
    color:var(--clr-gray-lt3);
}
.login-form-field::placeholder{
    font-family: var(--text-font);
    color:var(--clr-gray-lt3);
}
.login-form-field:focus-visible{
    outline:var(--clr-gray-lt3) 1px solid;
}

.login-form-button{
    width:100%;
    margin-top: 10px;
    padding:20px;
    font-weight: 800;
    letter-spacing: .75em;
    background-color: transparent;
    border: 1px #f8f9fa solid;
    color:#f8f9fa;
    transition: .4s ease;
    cursor:pointer;
    text-transform: uppercase
}
.login-form-button:hover{
    background-color: rgb(255,255,255,0.3);
    border-color: transparent;   
}

