:root{
    --clr-black: #0b090a;
    --clr-gray-dark: #161a1d;
    --clr-gray-lt1: #d3d3d3;
    --clr-gray-lt2: #f5f3f4;
    --clr-gray-lt3: #f8f9fa;
    --clr-red:rgb(252,29,3);
    --clr-red-trans:rgb(252,29,3,0.3);
    --clr-gray-trans: rgb(0,0,0,0.1);
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

html{
    overflow: hidden;   
    background-color: var(--clr-gray-dark);
}
body{
    margin:0; 
 }